[Desktop Entry]
Type=Application
Name=Atlas
Name[pt]=Atlas
Name[es]=Atlas
Name[ca]=Atlas
Name[it]=Atlas
Name[de]=Atlas
Name[ru]=Atlas
Name[tr]=Atlas
Categories=System;
Comment=Install and remove applications (Arch, AUR, Flatpak, AppImage)
Comment[pt]=Instale e remova aplicativos (Arch, AUR, Flatpak, AppImage)
Comment[es]=Instalar y eliminar aplicaciones (Arch, AUR, Flatpak, AppImage)
Comment[it]=Installa e rimuovi applicazioni (Arch, AUR, Flatpak, AppImage)
Comment[de]=Anwendungen installieren und entfernen (Arch, AUR, Flatpak, AppImage)
Comment[ca]=Instal·lar i eliminar aplicacions (Arch, AUR, Flatpak, AppImage)
Comment[ru]=Установка и удаление приложений (Arch, AUR, Flatpak, AppImage)
Comment[tr]=Uygulama yükle/kaldır (Arch, AUR, Flatpak, AppImage)
Exec=/usr/bin/atlas
Icon=atlas-pm
